<!DOCTYPE html>
<html>

<head>

<title>DPS - AI CODE CHALLENGE</title>
</head>


<body>
    <p style="text-align: center"> 
        <img src="https://dps-challenge-front.netlify.app/static/media/dps-logo-black.e7e4d920.svg" />
    <P>    
    <div class="container center_div">
    <h1 class="pt-5 text-center">Traffic Accidents Prediction</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <br>
      <br>
      <p style="text-center"> 
      <div class="form-group form-group w-25">
        <label>YearMonth (e.g. 202101): </label>
        <input name="YearMonth" type="number" required="required" autocomplete="off">
      </div>
      <p>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    {{ prediction_text }}
  </div>

</body>

</html>

